<header>
  <a href="/bright_ideas">Bright Ideas</a>
</header>
<h3>Name:<%= @user.name %></h3>
<h3>Alias:<%= @user.alias %></h3>
<h3>Email:<%= @user.email %></h3>

<h3>Total Number of Posts:<%= @user.posts.count %></h3>
<h3>Total Number of Likes:<%= @user.likes.count %></h3>
