<header>
  <a href="/bright_ideas">Bright Ideas</a>
</header>
<h3><a href="/users/<%= @post.user.id %>/"><%= @post.user.name %></a></h3>
<p><%= @post.content %></p>

<table>
  <thead>
    <tr>
      <th>Alias</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% @likers.each do |item| %>
    <tr>
      <td><a href="/users/<%= item.user.id %>/"><%= item.user.alias %></a></td>
      <td><%= item.user.name %></td>
    </tr>
    <% end %>
  </tbody>
</table>
